h1{

    background-image: linear-gradient( to right , #a517ba,#a517ba);
    padding: 60px;
    color: white;
    height: 60px;
    

}
#footer {
    background: linear-gradient( to right , #a517ba ,#5f1782);
    padding: 0 !important;
    width: 100%;
}

#footer :hover{
    text-decoration-line: underline;

}