<!DOCTYPE html>
<html>

<head>
  <title> index </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container-fluid">
      <h1>FEATURES AND BENEFITS</h1>
  </div>
  <div class="container">
    <h2 style="text-align: center; color: #a517ba; margin-top: 40px;">CROSS PLATFORM</h2>
    <img style="width: 100px; margin-left: 500px;" src="assets/pics/img9.svg" alt=""><br><br><br>
    <div class="row">
      <div class="col-md-4">
        <h5>Progressive Web Apps</h5><br>
        <p>Use modern web platform capabilities to <br> deliver app-like experiences. High performance,<br> offline, and zero-step installation.</p>

      </div>
      <div class="col-md-4">
        <h5>Native</h5><br>
        <p>Build native mobile apps with strategies <br> from Cordova, Ionic, or NativeScript.</p>

      </div>
      <div class="col-md-4">
        <h5>Desktop</h5><br>
        <p>Create desktop-installed apps across <br> Mac, Windows, and Linux using the same <br> Angular methods you've learned for the <br> web plus the ability to access native OS APIs.</p>
      </div>
    </div><hr>

    <h2 style="text-align: center; color: #a517ba; margin-top: 40px;">SPEED AND PERFORMANCE</h2>
    <img style="width: 100px; margin-left: 500px;" src="assets/pics/img9.svg" alt=""><br><br><br>
    <div class="row">
      <div class="col-md-4">
        <h5>Code Generations</h5><br>
        <p>Angular turns your templates into code that's highly optimized for today's JavaScript virtual machines, giving you all the benefits of hand-written code with the productivity of a framework.</p>

      </div>
      <div class="col-md-4">
        <h5>Universal</h5><br>
        <p>Serve the first view of your application on Node.js®, .NET, PHP, and other servers for near-instant rendering in just HTML and CSS. Also paves the way for sites that optimize for SEO..</p>

      </div>
      <div class="col-md-4">
        <h5>Code Splitting</h5><br>
        <p>Angular apps load quickly with the new Component Router, which delivers automatic code-splitting so users only load code required to render the view they request.</p>
      </div>
    </div><hr>
    <h2 style="text-align: center; color: #a517ba; margin-top: 40px;">PRODUCTIVITY</h2>
    <img style="width: 100px; margin-left: 500px;" src="assets/pics/img9.svg" alt=""><br><br><br>
    <div class="row">
      <div class="col-md-4">
        <h5>Templates</h5><br>
        <p>Quickly create UI views with simple and powerful template syntax.</p>
      </div>
      <div class="col-md-4">
        <h5>Angular CLI</h5><br>
        <p>Command line tools: start building fast, add components and tests, then instantly deploy.</p>

      </div>
      <div class="col-md-4">
        <h5>IDEs</h5><br>
        <p>Angular apps load quickly with the new Component Router, which delivers automatic code-splitting so users only load code required to render the view they request.</p>
      </div>
    </div><hr>
    <h2 style="text-align: center; color: #a517ba; margin-top: 40px;">FULL DEVELOPMENT STORY</h2>
    <img style="width: 100px; margin-left: 500px;" src="assets/pics/img9.svg" alt=""><br><br><br>
    <div class="row">
      <div class="col-md-4">
        <h5>Testing</h5><br>
        <p>Angular turns your templates into code that's highly optimized for today's JavaScript virtual machines, giving you all the benefits of hand-written code with the productivity of a framework.</p>

      </div>
      <div class="col-md-4">
        <h5>Animation</h5><br>
        <p>Serve the first view of your application on Node.js®, .NET, PHP, and other servers for near-instant rendering in just HTML and CSS. Also paves the way for sites that optimize for SEO..</p>

      </div>
      <div class="col-md-4">
        <h5>Accessibility</h5><br>
        <p>Angular apps load quickly with the new Component Router, which delivers automatic code-splitting so users only load code required to render the view they request.</p>
      </div>
    </div><hr>
  </div>

  <div class="container-fluid">
    <section id="footer">
      <div class="container">
        <table style="color: white; padding: 70px ;" class="table table-borderless">
          <thead>
            <tr>
              <th style="font-size: 20px;" scope="col">Resources</th>
              <th style="font-size: 20px;" scope="col">Help</th>
              <th style="font-size: 20px;" scope="col">Community</th>
              <th style="font-size: 20px;" scope="col">Language</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>about</td>
              <td>Stack overflow</td>
              <td>Event</td>
              <td>Español</td>
            </tr>
            <tr>
              <td>Resource Listing</td>
              <td>Join Discard</td>
              <td>Meetups</td>
              <td>简体中文版</td>
            </tr>
            <tr>
              <td>Press kit</td>
              <td>Gitter</td>
              <td>Twitter</td>
              <td>正體中文版</td>
            </tr>
            <tr>
              <td>Blog</td>
              <td>Report Issue</td>
              <td>GitHub</td>
              <td>日本語版</td>
            </tr>

          </tbody>
        </table>
        <h5 style="color: white; text-align: center;">Super-powered by Google ©2010-2021.</h5><br>
        <h5 style="color: white; text-align: center;">Code licensed under an MIT-style License. Documentation licensed under CC BY 4.0.</h5><br>
        <h5 style="color: white; text-align: center;">Version 12.1.4-local+sha.772dbe8a8e.</h5><br>
      </div>
    </section>
  </div>
  
   
</body>
</html>
