

<h1>EVENTS</h1>
<div class="container">
    
    <h2 style="margin-top: 60px;">Where we'll be presenting:</h2><br>
    <p>We don't have any upcoming speaking engagements at the moment.</p>
    <p>Until something comes up, make sure you check our YouTube channel and follow us on social media.</p>
    <p>If you want us to be part of your event reach out on devrel@angular.io!</p><br>
    <h2>Where we already presented:</h2><br>
    <table class="table">
        <thead>
            <tr>

                <th scope="col" style="background-color: rgb(174, 183, 184);">EVENT</th>
                <th scope="col" style="background-color: rgb(174, 183, 184);">LOCATION</th>
                <th scope="col" style="background-color: rgb(174, 183, 184);">DATE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color: rgb(174, 183, 184); color: #a517ba;">Angular Global Summit</td>
                <td>Online</td>
                <td>June 1-2,<br> 2021</td>
            </tr>
            <tr>
                <td style="background-color: rgb(174, 183, 184); color: #a517ba;">ng-conf</td>
                <td>Online</td>
                <td>April 12-15 (workshops),<br> April 22-23 (conference), 2021</td>
            </tr>
            <tr>
                <td style="background-color: rgb(174, 183, 184); color: #a517ba;">ng-china</td>
                <td>Online</td>
                <td>November 21-22,<br> 2020</td>
            </tr>
            <tr>
                <td style="background-color: rgb(174, 183, 184); color: #a517ba;">EnterpriseNG</td>
                <td>Online</td>
                <td>
                    November 19-20,<br> 2020</td>
            </tr>
            <tr>
                <td style="background-color: rgb(174, 183, 184); color: #a517ba;">ngrome</td>
                <td>Online</td>
                <td>October 20,<br> 2020</td>
            </tr>
            <tr>
                <td style="background-color: rgb(174, 183, 184); color: #a517ba;">DevReach</td>
                <td>Online</td>
                <td>October 19-23,<br> 2020</td>
            </tr>
            <tr>
                <td style="background-color: rgb(174, 183, 184); color: #a517ba;">ng-china</td>
                <td>Online</td>
                <td>November 21-22,<br> 2020</td>
            </tr>
            <tr>
                <td style="background-color: rgb(174, 183, 184); color: #a517ba;">ngrome</td>
                <td>Online</td>
                <td>October 20,<br> 2020</td>
            </tr>
            <tr>
                <td style="background-color: rgb(174, 183, 184); color: #a517ba;">ng-conf</td>
                <td>Online</td>
                <td>April 12-15 (workshops),<br> April 22-23 (conference), 2021</td>
            </tr>
            <tr>
                <td style="background-color: rgb(174, 183, 184); color: #a517ba;">ngrome</td>
                <td>Online</td>
                <td>October 20,<br> 2020</td>
            </tr>
            <tr>
                <td style="background-color: rgb(174, 183, 184); color: #a517ba;">ngVikings</td>
                <td>Oslo, Norwaye</td>
                <td>May 25-26 (conference),<br> May 27 (workshops), 2020</td>
            </tr>
            <tr>
                <td style="background-color: rgb(174, 183, 184); color: #a517ba;">ngrome</td>
                <td>Salt Lake City, Utah</td>
                <td>October 20,<br> 2020</td>
            </tr>
            <tr>
                <td style="background-color: rgb(174, 183, 184); color: #a517ba;">ReactiveConf</td>
                <td>Prague, Czech Republic</td>
                <td>October 20,<br> 2020</td>
            </tr>
        </tbody>
    </table>

</div>
<div class="container-fluid">
    <section id="footer">
        <div class="container">
            <table style="color: white; padding: 70px ;" class="table table-borderless">
                <thead>
                    <tr>
                        <th style="font-size: 20px;" scope="col">Resources</th>
                        <th style="font-size: 20px;" scope="col">Help</th>
                        <th style="font-size: 20px;" scope="col">Community</th>
                        <th style="font-size: 20px;" scope="col">Language</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>about</td>
                        <td>Stack overflow</td>
                        <td>Event</td>
                        <td>Español</td>
                    </tr>
                    <tr>
                        <td>Resource Listing</td>
                        <td>Join Discard</td>
                        <td>Meetups</td>
                        <td>简体中文版</td>
                    </tr>
                    <tr>
                        <td>Press kit</td>
                        <td>Gitter</td>
                        <td>Twitter</td>
                        <td>正體中文版</td>
                    </tr>
                    <tr>
                        <td>Blog</td>
                        <td>Report Issue</td>
                        <td>GitHub</td>
                        <td>日本語版</td>
                    </tr>

                </tbody>
            </table>
            <h5 style="color: white; text-align: center;">Super-powered by Google ©2010-2021.</h5><br>
            <h5 style="color: white; text-align: center;">Code licensed under an MIT-style License. Documentation
                licensed under CC BY 4.0.</h5><br>
            <h5 style="color: white; text-align: center;">Version 12.1.4-local+sha.772dbe8a8e.</h5><br>
        </div>
    </section>
</div>