<div class="container-fluid">
    <h1>EXPLORE ANGULAR RESOURCE</h1>
</div>
<div class="container">
    <section id="bng">
        <button type="button" class="btn btn-primary btn-lg" style="margin-left: 70px; margin-top: 30px;">Development</button>
        <button type="button" class="btn btn-secondary btn-lg" style="margin-left: 40px; margin-top: 30px;">Community</button>
        <button type="button" class="btn btn-secondary btn-lg" style="margin-left: 40px; margin-top: 30px;">Education</button>
    </section>
    <div class="card mb-3" style="margin-top: 40px;">
        <div class="card-header">
            <h2>Featured</h2> 
        </div>
        <div class="card">
            <div class="card-body">
              <p style="font-weight: bold;">Progressive Web Apps</p>
              <p>Use modern web platform capabilities to deliver app-like experiences. High performance, offline, and zero-step installation.</p> 
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p style="font-weight: bold;">Code Splittings</p>
                <p>Angular apps load quickly with the new Component Router, which delivers automatic code-splitting so users only load code required to render the view they request.</p> 
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p style="font-weight: bold;">Code Generation</p>
                <p>Angular apps load quickly with the new Component Router, which delivers automatic code-splitting so users only load code required to render the view they request.</p> 
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p style="font-weight: bold;">Angular CLI</p>
                <p>Angular apps load quickly with the new Component Router, which delivers automatic code-splitting so users only load code required to render the view they request.</p> 
            </div>
        </div>
        <div class="card-header">
            <h2>Tooling</h2>
        </div>
        <div class="card">
            <div class="card-body">
                <p style="font-weight: bold;">SPEED AND PERFORMANCE</p>
                <p>Angular apps load quickly with the new Component Router, which delivers automatic code-splitting so users only load code required to render the view they request.</p> 
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p style="font-weight: bold;">FULL DEVELOPMENT STORY</p>
                <p>Angular apps load quickly with the new Component Router, which delivers automatic code-splitting so users only load code required to render the view they request.</p> 
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p style="font-weight: bold;">CROSS PLATFORM</p>
                <p>Angular apps load quickly with the new Component Router, which delivers automatic code-splitting so users only load code required to render the view they request.</p> 
            </div>
        </div>

    </div>
</div>
<div class="container-fluid">
    <section id="footer">
      <div class="container">
        <table style="color: white; padding: 70px ;" class="table table-borderless">
          <thead>
            <tr>
              <th style="font-size: 20px;" scope="col">Resources</th>
              <th style="font-size: 20px;" scope="col">Help</th>
              <th style="font-size: 20px;" scope="col">Community</th>
              <th style="font-size: 20px;" scope="col">Language</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>about</td>
              <td>Stack overflow</td>
              <td>Event</td>
              <td>Español</td>
            </tr>
            <tr>
              <td>Resource Listing</td>
              <td>Join Discard</td>
              <td>Meetups</td>
              <td>简体中文版</td>
            </tr>
            <tr>
              <td>Press kit</td>
              <td>Gitter</td>
              <td>Twitter</td>
              <td>正體中文版</td>
            </tr>
            <tr>
              <td>Blog</td>
              <td>Report Issue</td>
              <td>GitHub</td>
              <td>日本語版</td>
            </tr>

          </tbody>
        </table>
        <h5 style="color: white; text-align: center;">Super-powered by Google ©2010-2021.</h5><br>
        <h5 style="color: white; text-align: center;">Code licensed under an MIT-style License. Documentation licensed under CC BY 4.0.</h5><br>
        <h5 style="color: white; text-align: center;">Version 12.1.4-local+sha.772dbe8a8e.</h5><br>
      </div>
    </section>
  </div>