
.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
  }
  
  .text-gray {
    color: #aaa;
  }
  .nav-link{
      text-transform: capitalize;
  }
  .nav-link:hover{
      background:#f3f2f2;
  }

  .card :hover{
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  
