<div class="container-fluid">
    <section id="header">
      <div class="row">
        <div class="col-md-6">
          <img id="div1" style="width: 500px; margin-left: 300px;"
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
            alt="">
        </div>
        <div class="col-md-6">
          <h1>The modern web <br>
            developer's platform
          </h1>
          <button> Get Started</button>

        </div>
      </div>
    </section>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img style="margin-left: 100px; width: 350px; margin-top: 40px;" src="assets/pics/img3.svg"
          class="img-thumbnail" alt="...">
      </div>
      <div class="col-md-6">
        <h3 style="margin-top: 50px; color:#a517ba;">DEVELOP ACROSS ALL PLATFORMS</h3>
        <p style="padding: 20px;">
          Learn one way to build applications with Angular and <br> reuse your code and abilities to build apps for any
          <br> deployment target. For web, mobile web, native mobile <br> and native desktop.
        </p>
      </div>
      <hr>
      <hr>
    </div> <br>
    <hr>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3 style="margin-top: 60px; color:#a517ba; margin-left: 40px;">SPEED & PERFORMANCE</h3><br>
        <p style="padding: 5px; margin-left: 40px;">
          Achieve the maximum speed possible on the Web <br> Platform today, and take it further, via Web Workers <br>
          and server-side rendering.</p><br>
        <p style="padding: 5px; margin-left: 40px;">Angular puts you in control over scalability. Meet huge <br> data
          requirements by building data models on RxJS, <br> Immutable.js or another push-model.</p>
      </div>
      <div class="col-md-6">
        <img style="margin-left: 10px; width: 350px; margin-top: 60px;" src="assets/pics/img5.svg" class="img-thumbnail"
          alt="...">
      </div>
    </div> <br>
    <hr>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <img style="margin-left: 100px; width: 350px; margin-top: 60px;" src="assets/pics/img6.svg"
          class="img-thumbnail" alt="...">
      </div>
      <div class="col-md-6">
        <h3 style="margin-top: 50px; color:#a517ba;">
          INCREDIBLE TOOLING</h3><br>
        <p style="padding: 5px;">
          Build features quickly with simple, declarative <br> templates. Extend the template language with your <br>
          own components and use a wide array of existing <br> components. Get immediate Angular-specific help and <br>
          feedback with nearly every IDE and editor. All this <br> comes together so you can focus on building amazing
          <br> apps rather than trying to make the code work.
        </p>
      </div>
    </div> <br>
    <hr>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3 style="margin-top: 60px; color:#a517ba; margin-left: 40px;">LOVED BY MILLIONS</h3><br>
        <p style="padding: 5px; margin-left: 40px;">
          From prototype through global deployment, Angular <br> delivers the productivity and scalable infrastructure
          <br> that supports Google's largest applications.
        </p><br>
      </div>
      <div class="col-md-6">
        <img style="margin-left: 10px; width: 350px; margin-top: 60px;" src="assets/pics/img7.svg" class="img-thumbnail"
          alt="...">
      </div>
    </div> <br><br>

    <div class="card mb-3" style="max-width: 540px; margin-left: 300px; box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img style="width: 100px; margin-top: 15px; margin-left: 20px;" src="assets/pics/img8.svg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="color:#a517ba ; font-weight: bold;" class="card-title">Try It Now</h5>
            <p class="card-text">Explore Angular Capabilities with a reay-made simple app. No setup required.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <section id="footer">
      <div class="container">
        <table style="color: white; padding: 70px ;" class="table table-borderless">
          <thead>
            <tr>
              <th style="font-size: 20px;" scope="col">Resources</th>
              <th style="font-size: 20px;" scope="col">Help</th>
              <th style="font-size: 20px;" scope="col">Community</th>
              <th style="font-size: 20px;" scope="col">Language</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>about</td>
              <td>Stack overflow</td>
              <td>Event</td>
              <td>Español</td>
            </tr>
            <tr>
              <td>Resource Listing</td>
              <td>Join Discard</td>
              <td>Meetups</td>
              <td>简体中文版</td>
            </tr>
            <tr>
              <td>Press kit</td>
              <td>Gitter</td>
              <td>Twitter</td>
              <td>正體中文版</td>
            </tr>
            <tr>
              <td>Blog</td>
              <td>Report Issue</td>
              <td>GitHub</td>
              <td>日本語版</td>
            </tr>

          </tbody>
        </table>
        <h5 style="color: white; text-align: center;">Super-powered by Google ©2010-2021.</h5><br>
        <h5 style="color: white; text-align: center;">Code licensed under an MIT-style License. Documentation licensed under CC BY 4.0.</h5><br>
        <h5 style="color: white; text-align: center;">Version 12.1.4-local+sha.772dbe8a8e.</h5><br>
      </div>
    </section>
  </div>
  
  
  
